{{ define "main" }}

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const sectionSummary = {
          'section1': "My desk where I do all my work, game, watch movies, etc.",
          'section2': 'My bookshelf that holds all of my awesome collection of books, movies, figures, games, and more sometimes.',
          'section3': "I like to put posters up to show off what I like and to spice my room up a bit.",
          'section4': 'I sleep here. Get eepy sleepy.',
          'section5': "Where all my bad ideas go. I empty it out twice a week."
      };

      const sectionTitles = {
          'section1': 'The Desk',
          'section2': 'The Bookshelf',
          'section3': 'The Posters',
          'section4': 'The Bed',
          'section5': 'The Trash'
      };

      const summaryBox = document.getElementById('summaryBox');
      const titleBox = document.getElementById('sectionTitle');

      for (let sectionID in sectionSummary) {
          document.getElementById(sectionID).addEventListener('mouseenter', function() {
              summaryBox.innerHTML = sectionSummary[sectionID];
              titleBox.innerHTML = sectionTitles[sectionID];
          });
      }
  });
</script>

<div class="content-container" style="height: 708px">
  <img src="/images/room-draft.png" usemap="#bedroom">

  <map name="bedroom">
      <area id="section2" target="" alt="shelf" title="This is my awesome shelf with awesome stuff on it." href="\shelf\" coords="393,15,428,37,426,215,368,251,340,223,313,237,306,235,304,68" shape="poly">
      <area id="section1" target="" alt="desk" title="This is my desk with all the neat tech stuff on it." href="\tech\" coords="128,306,187,346,327,250,298,229,298,196,267,172,242,187,242,229,237,231,236,199,175,239,176,273" shape="poly">
      <area id="section3" target="" alt="posters" title="These posters are related to stuff I like." href="\posters\" coords="541,191,542,156,496,127,494,106,461,67,443,125,475,165,494,194,533,220,533,196" shape="poly">
      <area id="section4" target="" alt="bed" title="bed" href="" coords="456,511,660,362,658,273,538,189,533,197,535,254,472,288,404,328,348,375,322,396,330,424,356,443,395,473" shape="poly">
      <area id="section5" target="" alt="trash" title="trash" href="" coords="337,309,365,292,369,250,333,225,313,238,329,249,333,256,324,260,324,299" shape="poly">
  </map>

  <div class="box-container" style="height: 60px; margin-top: 20px;">
    <h3 id="sectionTitle" style="margin: 0; margin-bottom: 5px;">Click on the different parts of my room and explore!</h3>
    <p id="summaryBox" style="margin: 0;"></p>
  </div>
</div>
{{ end }}

