{{ define "main" }}

<div class="box-container" style="height: 668px;" >

    <div style="display: flex; justify-content: left; align-items: center;">
        <img src="/images/icons/at-symbol.png">
        <h3 style="margin-left: 5px;">Contacts</h3>
    </div>
    
    <table border="1" cellpadding="8px" style="color: var(--orange);">
        <tr>
            <td>
                <b>E-Mail</b>
            </td>
            <td>
                <a style="color: var(--orange);" href="mailto:nick@nick64.me">nick@nick64.me</a>
            </td>
        </tr>
        <tr>
            <td>
                <b>Twitter</b>
            </td>
            <td>
                <a style="color: var(--orange);" href="https://twitter.com/Nick64WasTaken">@Nick64WasTaken</a>
            </td>
        </tr>
        <tr>
            <td>
                <b>Discord</b>
            </td>
            <td>
                @realnick64
            </td>
        </tr>
        <tr>
            <td>
                <b>Mastodon</b>
            </td>
            <td>
                <a style="color: var(--orange);" href="https://wetdry.world/@nick64">@nick64@wetdry.world</a>
            </td>
        </tr>
        <tr>
            <td>
                <b>YouTube</b>
            </td>
            <td>
                <a style="color: var(--orange);" href="https://www.youtube.com/channel/UCLDFStxvzHG_xy5Vmsz7K3w">@Nick64WasTaken</a>
            </td>
        </tr>

        
    </table>

    <div style="display: flex; justify-content: left; align-items: center;">
        <img src="/images/icons/rss.png">
        <h3 style="margin-left: 5px;">RSS</h3>
    </div>
    <table>
        <tr>
            <td>
                <a style="text-decoration: none; color: var(--orange);" href="https://nick64.me/index.xml">> Link to all posts</a>
            </td>    
        </tr>
        <tr>
            <td>
                <a style="text-decoration: none; color: var(--orange);" href="https://nick64.me/netlogs/index.xml">> Link to only netlog posts</a>
            </td> 
        </tr>
    </table>
    <center>
        <img style="margin-top: 20px; border: 0px; border-radius: 10px; height: 240px;"src="/images/under-construction.png">
        <h3>This section is still under construction!</h3>
    </center>
</div>


{{ end }}

