{{ define "main" }}

<div class="box-container"> 
  <b>Note: Because I say something in the past doesn't mean I think or feel the same way I do now please dont feel offended guys ;)</b>
  <br>
  <br>
  {{ .Params.description }}
</div>

<div style="display: flex; justify-content: center; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;">
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\updates">Site Updates</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\life">Life</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\music">Music</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\movies-tv">Movies/TV</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\gaming">Gaming</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\tech">Tech</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\random">Random</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\rant">Rant</a>
  <a class="box-container tag-button" href="{{ .Site.Params.baseURL }}\tags\informative">Informative</a>
</div>

<div class="box-container"> 
  <div class="content-container" style="height: 488px">
    {{ partial "list" . }}
  </div>
</div>


{{ end }}

