{{ define "main" }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const gameSummaries = {
            'game1': "I like this game a lot because it has a lot of charm to it, a great soundtrack to go with the gameplay, and it really is an underrated gem compared to it's more popular older brother (that I don't really like a lot).",
            'game2': 'This was one of the first few games I beat and it has simple, but very fun and addicting gameplay, along with a charming art style. Not to mention, great soundtrack, like the other games on this list HAHA.',
            'game3': "I like this game a lot because despite it being an easy, but gruelingly long, I've played through the game several times, own several copies of it, it's the first 'real' RPG I beat, and it's the game that got me into Persona."
        };

        const gameTitles = {
            'game1': 'Parappa The Rapper 2',
            'game2': 'Katamari Damacy',
            'game3': 'Persona 5 Royal'
        };

        const summaryBox = document.getElementById('summaryBox');
        const titleBox = document.getElementById('gameTitle');

        for (let gameID in gameSummaries) {
            document.getElementById(gameID).addEventListener('mouseenter', function() {
                summaryBox.innerHTML = gameSummaries[gameID];
                titleBox.innerHTML = gameTitles[gameID];
            });
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        const discSummaries = {
            'disc1': "I got introduced to this show back when I was in 8th grade and I've loved it since, especially the finale movie, End of Evangelion. Since then, I've become a big fanboy and now have amassed a collection of Evangelion merch.",
            'disc2': 'This movie was super thrilling to watch and really kept me on the edge of my seat, and J.K. Simmons is great in this movie. After watching it, I immediately bought a 4K Blu-Ray of it for my collection.',
            'disc3': "This movie has an amazing art style and a gripping underdog story. Easily my favorite Spider-Man movie (though I say that as someone who isn't big into superheroes in general, except a tiny bit of Spider-Man)."
        };

        const discTitles = {
            'disc1': 'Neon Genesis Evangelion',
            'disc2': 'Whiplash',
            'disc3': 'Spider-Man: Into the Spider-Verse'
        };

        const discSummaryBox = document.getElementById('discSummaryBox');
        const discTitleBox = document.getElementById('discTitle');

        for (let discID in discSummaries) {
            document.getElementById(discID).addEventListener('mouseenter', function() {
                discSummaryBox.innerHTML = discSummaries[discID];
                discTitleBox.innerHTML = discTitles[discID];
            });
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        const bookSummaries = {
            'book1': "I watched the movie first, but I got the first two books from Savers one day, read them, and bought the rest, and I really like the art and story of it, it's very bright, has good writing, and neat characters.",
            'book2': "While I only just started reading this series, a lot of clips from pages I've seen online portray this as a very fun and wholesome series, so it goes here for being a light and fun, but enjoyable read.",
            'book3': "I don't actually own this book, but read it in my senior year of high school for a reading log and I found myself actually engaged in the very captivating story of a group of German solders in WWI facing the horrors of war and the impact it has on them."
        };

        const bookTitles = {
            'book1': 'Scott Pilgrim',
            'book2': 'YOTSUBA&!',
            'book3': 'All Quiet On the Western Front'
        };

        const bookSummaryBox = document.getElementById('bookSummaryBox');
        const bookTitleBox = document.getElementById('bookTitle');

        for (let bookID in bookSummaries) {
            document.getElementById(bookID).addEventListener('mouseenter', function() {
                bookSummaryBox.innerHTML = bookSummaries[bookID];
                bookTitleBox.innerHTML = bookTitles[bookID];
            });
        }
    });
</script>

<div class="content-container" style="height: 708px">
    <div style="background-color: transparent; padding: 0; padding-right: 8px; box-shadow: none;" class="box-container">
        <div style="height: 400px; box-shadow: none;" class="box-container">
            <table>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <p style="color: var(--orange); padding: 5px; padding-left: 0px;"><b>Favorite Games</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td id="game1">
                            <img style="height: 160px;" src="/images/shelf/parappa2.jpg">
                        </td>
                        <td id="game2">
                            <img style="height: 160px;" src="/images/shelf/katamari-damacy.jpg">
                        </td>
                        <td id="game3">
                            <img style="height: 160px;" src="/images/shelf/persona5royal.jpg">
                        </td>
                        <td style="width: 100%;">
                            <div style="height: 130px; margin-left: 20px;" class="box-container">
                                <h3 id="gameTitle" style="margin: 0; margin-bottom: 5px;">Hover over the covers to see descriptions on why I like these games!</h3>
                                <p id="summaryBox" style="margin: 0;"></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="height: 180px;"class="content-container">
                <table class="bedroom-table" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="2"><b>Nintendo Switch</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/switch.png"></td>
                            <td class="table-text">Persona 5 Royal (Steelbook Launch Edition)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/switch.png"></td>
                            <td class="table-text">Cytus Alpha</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/switch.png"></td>
                            <td class="table-text">The Legend of Zelda: Breath of the Wild</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PlayStation Portable</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Parappa The Rapper</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Lumines: Puzzle Fusion</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Persona 3 Portable (JP Import "The Best")</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Persona (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Danganronpa: Trigger Happy Havoc (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Evangelion New Theatrical Edition: 3nd Impact (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Neon Genesis Evangelion: Iron Maiden (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Neon Genesis Evangelion: Iron Maiden 2nd (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Evangelion: Jo (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Neon Genesis Evangelion 2: -another cases- (JP Import "Decade Memorial Box")</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PlayStation Vita</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Lumines: Electronic Symphony</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PlayStation 4</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Persona 5 Royal (Steelbook Launch Edition)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Kingdom Hearts: The Story So Far</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PlayStation 2</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Parappa the Rapper 2 (NTSC-J "The Best")</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Persona 4 (NTSC-J "The Best")</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Kingdom Hearts II Final Mix+ (NTSC-J "Ultimate Hits")</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">DDRMAX: Dance Dance Revolution</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">DDRMAX2: Dance Dance Revolution</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Katamari Damacy</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Star Ocean: Till the End of Time</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">LEGO Star Wars: The Video Game</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">LEGO Star Wars II: The Original Trilogy</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Resident Evil 4</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Jak and Daxter: The Precursor Legacy (Greatest Hits)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Jak II</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Metal Gear Solid 2: Sons of Liberty (Greatest Hits)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Metal Gear Solid 3: Subsistence</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PlayStation</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Um Jammer Lammy</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Bust-a-Move 4</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Nintendo DS</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ds.png"></td>
                            <td class="table-text">Pokémon: Black Edition</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Nintendo 3DS</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ds.png"></td>
                            <td class="table-text">Pokémon: X</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ds.png"></td>
                            <td class="table-text">Pokémon: Alpha Sapphire</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Xbox</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/xbox.png"></td>
                            <td class="table-text">Blinx: The Time Sweeper</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div style="height: 400px; box-shadow: none;" class="box-container">
            <table>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <p style="color: var(--orange); padding: 5px; padding-left: 0px;"><b>Favorite Movies/TV</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td id="disc1">
                            <img style="height: 160px;" src="/images/shelf/evangelion.jpg">
                        </td>
                        <td id="disc2">
                            <img style="height: 160px;" src="/images/shelf/whiplash.jpg">
                        </td>
                        <td id="disc3">
                            <img style="height: 160px;" src="/images/shelf/spiderverse.jpg">
                        </td>
                        <td style="width: 100%;">
                            <div style="height: 130px; margin-left: 20px;" class="box-container">
                                <h3 id="discTitle" style="margin: 0; margin-bottom: 5px;">Hover over the covers to see descriptions on why I like these movies/shows!</h3>
                                <p id="discSummaryBox" style="margin: 0;"></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="height: 180px;"class="content-container">
                <table class="bedroom-table" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="2"><b>UMD Video</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Cowboy Bebop: The Movie</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Family Guy: Seasons 1 and 2</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">End of Evangelion (JP Import "Decade Memorial Box")</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/games/ps2.png"></td>
                            <td class="table-text">Neon Genesis Evangelion: Death(True)<sup>2</sup> (JP Import "Decade Memorial Box")</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Ultra HD Blu-Ray</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Whiplash</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Dunkirk</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Weathering with You (Collector's Set)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Akira (Collector's Set)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">1917</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">The Batman</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Interstellar</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">The Prince of Egypt</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">1917</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Parasite</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Spider-Man: Into the Spider-Verse</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Ghost in the Shell (Steelbook)</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Blu-Ray</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Interface: The Complete Series</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Neon Genesis Evangelion: The Complete Series</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">EVANGELION 1.11: You Are (Not) Alone Special Edition</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">EVANGELION 2.22: You Can (Not) Advance</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">EVANGELION 3.33: You Can (Not) Redo</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">EVANGELION 3.333: You Can (Not) Redo (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">EVANGELION 3.0 + 1.11: Thrice Upon a Time (JP Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Gurren Lagann COMPLETE Blu-Ray DISC BOX SET</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">I want to eat your pancreas</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Erased (All The Anime Import)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Stranger Things Season 1</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Nichijou: My Ordinary Life - The Complete Series (Anime Essentials)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">One Punch Man: Season 1</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Demon Slayer: Entertainment District Arc </td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Flip Flappers Complete Collection</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Made In Abyss Complete Collection</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Ernest and Celestine</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">My Life as a Zucchini</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Scott Pilgrim vs. The World</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Citizen Kane (Criterion Collection)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">8½ (Criterion Collection)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">The Social Network</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Avatar: The Last Airbender - The Complete Series</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Himouto! Umaru-chan Complete Collection</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Lu Over the Wall</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Paranoia Agent: The Complete Series</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Haven't You Heard? I'm Sakamoto Complete Collection</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Grave of the Fireflis</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Inuyasha Set 1</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">A Silent Voice: The Movie</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Josee, the Tiger and the Fish</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Your Name</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Nausicaä of the Valley of the Wind (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Castle in the Sky (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Kiki's Delivery Service (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Only Yesterday (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Porco Rosso (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Whisper of the Heart (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Princess Mononoke (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Spirited Away (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">The Cat Returns (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Howl's Moving Castle (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Ponyo (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">The Secret World of Arrietty (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">When Marnie Was There (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Lupin III: The First (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Millenium Actress (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Perfect Blue (Steelbook)</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/bd.png"></td>
                            <td class="table-text">Belle (Steelbook)</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>DVD</b></td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/dvd.png"></td>
                            <td class="table-text">NEON GENESIS EVANGELION PLATINUM:01</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/dvd.png"></td>
                            <td class="table-text">NEON GENESIS EVANGELION PLATINUM:05</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/dvd.png"></td>
                            <td class="table-text">NEON GENESIS EVANGELION: Death and Rebirth</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/dvd.png"></td>
                            <td class="table-text">Spongebob Squarepants: The Complete 1st Season</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/dvd.png"></td>
                            <td class="table-text">Spongebob Squarepants: The Complete 2nd Season</td>
                        </tr>
                        <tr>
                            <td style="width: 26px;"><img src="/images/icons/discs/dvd.png"></td>
                            <td class="table-text">Spongebob Squarepants: The Complete 3rd Season</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div style="height: 400px; box-shadow: none;" class="box-container">
            <table>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <p style="color: var(--orange); padding: 5px; padding-left: 0px;"><b>Favorite Books</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td id="book1">
                            <img style="height: 160px;" src="/images/shelf/scott pilgrim.jpg">
                        </td>
                        <td id="book2">
                            <img style="height: 160px;" src="/images/shelf/yotsuba to.jpg">
                        </td>
                        <td id="book3">
                            <img style="height: 160px;" src="/images/shelf/western-front.jpg">
                        </td>
                        <td style="width: 100%;">
                            <div style="height: 130px; margin-left: 20px;" class="box-container">
                                <h3 id="bookTitle" style="margin: 0; margin-bottom: 5px;">Hover over the covers to see descriptions on why I like these books!</h3>
                                <p id="bookSummaryBox" style="margin: 0;"></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="height: 180px;"class="content-container">
                <table class="bedroom-table" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td class="table-text">Scott Pilgrim (Hardcover Vol 1-6)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Maus (Papercover Vol 1 and 2)</td>
                        </tr>  
                        <tr>
                            <td class="table-text">Fullmetal Alchemist (Papercover Vol 19-27)</td>
                        </tr>
                        <tr>
                            <td class="table-text">One Punch Man (Papercover Vol 1-17, 22)</td>
                        </tr>
                        <tr>
                            <td class="table-text">The Promised Neverland (Papercover Vol 1-7)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Komi Can't Communicate (Papercover Vol 1-4, 12-17)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Amulet (Papercover Vol 1-8)</td>
                        </tr>
                        <tr>
                            <td class="table-text">A Series of Unfortunate Events (Hardcover Books 1-2)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Bone (Papercover Vol 1-3, 5-6, 8, Rose)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Laika (Papercover)</td>
                        </tr>
                        <tr>
                            <td class="table-text">American Born Chinese (Papercover)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Some Avatar: The Last Airbender Comics, I'm too lazy to write them all</td>
                        </tr>
                        <tr>
                            <td class="table-text">FLCL Omnibus (Paperback)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Thinking Fast and Slow (Paperback)</td>
                        </tr>
                        <tr>
                            <td class="table-text">YOTSUBA&! (JP Import Vol 1-2)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Berserk Deluxe (Hardcover Vol 1)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Pokémon Adventures (Papercover Vol 1, 6)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Manga in Theory and Practice (Hardcover)</td>
                        </tr>
                        <tr>
                            <td class="table-text">Some old mid-2000s anime magazines.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
</div>
{{ end }}

