{{ define "main" }}



<div class="box-container"> 
  <div style="height: 665px" class="content-container">
    <h2>{{ .Title }}</h2>
    <div style="display: flex; align-items: center; gap: 10px; image-rendering: pixelated; margin-top: -20px;">
      <p class="post-date">{{ .Params.date.Format .Site.Params.dateFormat }}</p>
      <span>
        {{ range $tag := .Params.tags }}
          {{ if eq $tag "updates" }}
            <img src="/images/icons/website.png">
          {{ end }}
          {{ if eq $tag "movies-tv" }}
            <img src="/images/icons/movies.png">
          {{ end }}
          {{ if eq $tag "gaming" }}
            <img src="/images/icons/games.png">
          {{ end }}
          {{ if eq $tag "tech" }}
            <img src="/images/icons/tech.png">
          {{ end }}
          {{ if eq $tag "random" }}
            <img src="/images/icons/random.png">
          {{ end }}
          {{ if eq $tag "videos" }}
            <img src="/images/icons/play.png">
          {{ end }}
          {{ if eq $tag "rant" }}
            <img src="/images/icons/rant.png">
          {{ end }}
          {{ if eq $tag "music" }}
            <img src="/images/icons/music.png">
          {{ end }}
        {{ end }}
      </span>
    </div>
    <hr>
    {{ .Content }}
  </div>
</div>

{{ end }}
