{{ define "main" }}
<div class="content-container" style="height: 708px">
    <div class="box-container">

        <div class="box-container">
            <p>This section of my site is about all the tech I own. As you can see, I mainly just bloated it with specs for my computers, but I do own some neat stuff.</p>
        </div>
        <br>
        <table class="bedroom-table">
            <tbody>
                <tr>
                    <td><img src="/images/icons/fatcow/iphone.png"></td>
                    <td class="table-text">SAMSUNG Galaxy A51</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/controller.png"></td>
                    <td class="table-text">PSP-2000 (Mint Green)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/controller.png"></td>
                    <td class="table-text">PS Vita (Black PCH-1101)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/controller.png"></td>
                    <td class="table-text">Steam Deck 64GB (replaced with 512GB SSD)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/controller.png"></td>
                    <td class="table-text">PS2 (Black SCPH-39000)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/ipad.png"></td>
                    <td class="table-text">Amazon Kindle Paperwhite (2021)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/motherboard.png"></td>
                    <td class="table-text">Raspberry Pi 3 Model B+</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/monitor.png"></td>
                    <td class="table-text">Huion KAMVAS Pro 16</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="bedroom-table"> 
            <tbody>
                <tr>
                    <td colspan=2><b>Main PC Specs</b></td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/processor.png"></td>
                    <td class="table-text">AMD Ryzen 5 5600X</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/cooler.png"></td>
                    <td class="table-text">NZXT Kraken Z63</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/ddr_memory.png"></td>
                    <td class="table-text">Corsair VENGEANCE RGB PRO DDR4 32GB</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/pci.png"></td>
                    <td class="table-text">AMD Radeon RX 6700 XT</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/motherboard.png"></td>
                    <td class="table-text">ROG STRIX B550-I GAMING</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/power_supply.png"></td>
                    <td class="table-text">Corsair SF600 600 Watt (with custom orange silicone cables)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/server.png"></td>
                    <td class="table-text">SSUPD Meshlicious Black (with PCIe 3.0 riser)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/monitor.png"></td>
                    <td class="table-text">SAMSUNG UR55 28" UHD IPS Monitor</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/monitor.png"></td>
                    <td class="table-text">HP Z22n G2</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="bedroom-table"> 
            <tbody>
                <tr>
                    <td colspan=2><b>Home Server Specs</b></td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/processor.png"></td>
                    <td class="table-text">Intel Core i7-3770K</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/ddr_memory.png"></td>
                    <td class="table-text">Corsair VENGEANCE 16GB DDR3</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/motherboard.png"></td>
                    <td class="table-text">ASRock Z77 Pro3</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/drive.png"></td>
                    <td class="table-text">2TB WD Red NAS Hard Drive (CMR)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/drive.png"></td>
                    <td class="table-text">4TB WD Red NAS Hard Drive (CMR)</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/drive_cd.png"></td>
                    <td class="table-text">HP BD240i BD Combo</td>
                </tr>
                <tr>
                    <td><img src="/images/icons/fatcow/drive_cd.png"></td>
                    <td class="table-text">LG WH14NS40 BDXL Drive</td>
                </tr>
            </tbody>
        </table>
        <br>
        
    </div>
</div>
{{ end }}

