<html>
  <style>
    body {
      background: #7de47f;
      background: url(/images/background2.png);
    }

    .main-container {
      background: #e47f82;
    }
  </style>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
  </head>
  
  <div class="main-container">
    {{ partial "header" . }}
    <body>
      <hr>
        <div class="inside-container">
          {{ block "main" . }}
  
          {{ end }}
        </div>
      <hr>
      {{ block "footer" . }}
        {{ partial "footer" .}}
      {{ end }}
    </body>
  </div>
  <br>

</html>