{{ define "main" }}
<b>NOTE TO LEGACY MODE USERS: Some posts may contain unsupported formats, such as YouTube embeds, high-resolution images, etc.</b>
<br>
<br>
{{ .Params.description }}
<br>
<br>
<hr>

<center>
  <table  border="1" bgcolor="0f0f0f">
    <tr>
      <td><a href="{{ .Site.Params.baseURL }}\tags\updates"><b style="color: #c7c7c7;">Site Updates</b></a></td>
      <td><a href="{{ .Site.Params.baseURL }}\tags\music"><b style="color: #c7c7c7;">Music</b></a></td>
      <td><a href="{{ .Site.Params.baseURL }}\tags\movies-tv"><b style="color: #c7c7c7;">Movies/TV</b></a></td>
      <td><a href="{{ .Site.Params.baseURL }}\tags\gaming"><b style="color: #c7c7c7;">Gaming</b></a></td>
      <td><a href="{{ .Site.Params.baseURL }}\tags\tech"><b style="color: #c7c7c7;">Tech</b></a></td>
      <td><a href="{{ .Site.Params.baseURL }}\tags\random"><b style="color: #c7c7c7;">Random</b></a></td>
      <td><a href="{{ .Site.Params.baseURL }}\tags\rant"><b style="color: #c7c7c7;">Rant</b></a></td>
      <td><a href="{{ .Site.Params.baseURL }}\tags\videos"><b style="color: #c7c7c7;">Videos</b></a></td>
    </tr>
  </table> 
</center>
<hr>
{{ partial "list" . }}

{{ end }}

