@font-face {
    font-family: "Prototype";
    src: url("/fonts/Prototype.ttf");

    
}

@font-face {
    font-family: "Neuropol";
    src: url("/fonts/neuropol.woff");
}

:root {
    --orange: #f5ae08;
    --darker-orange: #a87500;
    --blue: #73b4f8;
}
  
body {
    font-family: "Trebuchet MS", sans-serif;
    background-color: var(--blue);
    background-size: 16px;
    background-image: url(/images/background-8px.png);
    image-rendering: pixelated;
}

/* MAIN */

#marquee {
    width: 100%; 
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.8); 
    height: 1.4em; 
    top: 0; 
    left: 0;
    overflow: hidden;
}

#marquee span {
    display: inline-block;
    animation: marquee 10s linear infinite;
    color: white;
    overflow: hidden;
}

@keyframes marquee {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
}

.box-container {
    background-color: rgba(0, 0, 0, 0.8);
    border: 0;
    border-radius: 1em;
    color: var(--orange);
    padding: 0.5em;
    text-shadow: 0.1em 0.1em black;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

#clouds-container {
    background-image: url(/images/sky-transparent.png);
    height: 47em;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border: 0;
    border-radius: 1.5em;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

#content-container {
    width: 100%;
    max-height: 100%;
    margin: 1em;
    margin-left: -3em;
    overflow: visible;
    display: flex;
    flex-direction: column;
}
  
/* SIDEBAR */

#sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -4em;
    top: 1em;
    text-decoration: none;
}

.sidebar-flex {
    display: flex; 
    justify-content: left; 
    align-items: center;
    gap: 0.5em;
    position: relative;
    height: 100%;
    padding-left: 0.4em;
}

.sidebar-flex img {
    width: 17px;
}

.box-container.sidebar-tab {
    width: 7em;
    height: 2em;
    margin-top: 0.2em;
    border-radius: 0.6em;
    transition-duration: 0.3s;
}

.box-container.sidebar-tab:hover .sidebar-text {
    color: var(--darker-orange);
    transition-duration: 0.3s;
}


.box-container.sidebar-tab a {
    text-decoration: none;
}

.sidebar-text {
    font-family: "Prototype", "Trebuchet MS", sans-serif;
    color: var(--orange);
    text-decoration: none;
    font-size: 1.1em;
    transition-duration: 0.3s;
}

/* FRONT PAGE */

#front-page-image {
    width: 100%; 
    height: auto; 
    border: 0; 
    border-radius: 1em; 
    box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.3);
}

#latest-posts-container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    overflow: hidden;
    color: var(--orange);
}

#latest-posts-container a {
    color: var(--orange);
}

.latest-posts-header {
    font-family: 'Neuropol';
    font-size: 1em;
    margin: 0;
    margin-bottom: 0.7em;
}


/* NETLOGS */

#tag-button-container {
    display: flex; 
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center; 
}

.box-container.tag-button {
    padding: 0.8em;
    display: flex;
    white-space: nowrap;
    gap: 0.5em;
    overflow: hidden;
    max-width: 16px;
    transition: max-width 2s ease-in-out;
    image-rendering: pixelated;
    max-height: 17px;
}

.box-container.tag-button img {
    width: 17px;
    height: 17px;
}
  
.box-container.tag-button span {
    opacity: 0;
    transition: opacity 0.5s;
}
  
.box-container.tag-button:hover span {
    display: inline-block;
    opacity: 1;
}
  
.box-container.tag-button:focus span {
    display: inline-block;
    opacity: 1;
}
  
.box-container.tag-button:link {
    text-decoration: none;
}
  
.box-container.tag-button:hover {
    max-width: 100%;
}
  
.box-container.tag-button:focus {
    max-width: 100%;
}

.box-container.post-list-container {
    height: 100%;
    padding: 1.5em;
    padding-right: 1em;
    overflow: hidden;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post-title {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: var(--orange);
    /* text-shadow: 2px 2px black; */
    transition-duration: 0.2s;
}
  
.post-title:hover {
    transition-duration: 0.2s;
    color: var(--darker-orange);
}
  
.post-date {
    font-size: 16px;
    color: var(--darker-orange);
}

.post-info {
    display: flex; 
    align-items: center; 
    gap: 0.6em; 
    image-rendering: pixelated; 
}

/* POSTS */

.box-container.post-container {
    width: 53em;
    height: 44em;
    overflow: hidden;
}

.post-image {
    max-width: 100%;
    max-height: 30em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* MOBILE RULES */
@media only screen and (max-width: 1000px) {
    .hide-on-mobile {
        display: none;
    }

    #clouds-container {
        flex-direction: column;
        width: 100%;
        height: 92vh;
        max-height: 92vh;
        margin-top: 3.5em;
    }

    #content-container {
        margin: 1em;
        width: auto;
        margin-top: 2.5em;
        contain: size;
        height: 100%;
    }

    /* SIDEBAR */
    #sidebar {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1em;
        position: absolute;
        right: 6%;
        left: 6%;
        top: 2em;
    }

    .box-container.sidebar-tab {
        max-width: 2em;
    }

    .sidebar-flex {
        justify-content: center;
        padding: 0;
    }

    .sidebar-text {
        display: none;
    }

    /* FRONT PAGE */
    #front-page-image {
        width: 100%;
    }

    #latest-posts-container {
        flex-direction: column;
        gap: 3em;
        
    }


    /* NETLOGS */
    #tag-button-container {
        display: flex; 
        gap: 0.5em;
        justify-content: center; 
    }

    .box-container.tag-button {
        transition: none;
    }

    .box-container.tag-button span {
        display: none;
    }

    .box-container.tag-button:hover span {
        display: none;
    }
    .box-container.tag-button:hover {
        max-width: auto;
    }
    .box-container.tag-button:focus span {
        display: none;
    }
    .box-container.tag-button:focus {
        max-width: auto;
    }

    .box-container.post-list-container {
        height: 100%;
        overflow-y: auto;
    }

    /* POSTS */
    .box-container.post-container {
        width: auto;
        height: 100%;
        
    }
  }