{{ define "main" }}
<center>
    <table class="table-text" bgcolor="#0f0f0f" border="0" cellpadding="0" cellspacing="0" color="">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div>
                                <h3 class="table-text">Latest Netlogs</h3>
                                <script></script>
                                <div style="padding-left: 10px;">
                                    {{ range ( where .Site.RegularPages "Type" "netlogs" | first 4 ) }}
                                    <li><a class="table-text" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{end}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: left;">
                                <h3 class="table-text">Latest Art</h3>
                                <script></script>
                                <div style="padding-left: 10px;">
                                    {{ range ( where .Site.RegularPages "Type" "art" | first 4 ) }}
                                    <li><a class="table-text" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{end}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


<br>
    {{ partial "stickers" . }}
</center>
    
    

{{ end }}