td {
  padding: 5px;
}

ul {
  list-style: none;
}

table {
  max-width: 30px;
}

a img {
  outline: none;
  border: 0;
}

body {
  background-color: #73b4f8;
  background-size: 16px;
  background-image: url(/images/background-8px.png);
  image-rendering: pixelated;
}