<!doctype html>
<html>
    <head>
        <title>ZZZZZ</title>
    </head>
    <body>
        <style>
            body {
                background-color: black;
                color: white;
                font-family: 'Trebuchet MS', sans-serif;
            }

            a {
                color: #333333;
                text-decoration: none;
            }
        </style>
        <br>
        <center>ZZZZzzzzz......</center>
        <br>
        <center><a href="/bedroom/">Click here to wake up...</a></center>
    </body>
</html>