{{ define "main" }}

<div class="box-container" style="height: 100%">
    <div style="display: flex; flex-direction: column; gap: 2em; padding: 1em;">
        <p><span><img src="/images/icons/warning.png"></span><b> WARNING</b>: These projects are old and made very unprofessionally, so they may be in varying levels of usability, and especially might not work for mobile users at all.</p>
        <hr width="100%">
        <div style="display: flex; gap: 1em;">
            <a href="/bedroom"><b>The Bedroom</b></a>
            <p>The Bedroom was a thing I had to show off different aspects of me using parts of a bedroom to show off like games and movies and stuff. Abandoned it because I stopped keeping up with it lol </p>
        </div>
    
        <p>That's it.</p>
    </div>
</div>

{{ end }}

