{{ define "main" }}

<div class="box-container" style="height: 100%; padding: 1em; overflow-y: auto;" >

    <div style="display: flex; justify-content: left; align-items: center; padding-top: 0.5em; padding-bottom: 0.5em;">
        <img src="/images/icons/at-symbol.png">
        <b style="margin-left: 0.5em; font-size: 1.2em;">Contacts</b>
    </div>
    
    <div style="display: flex; flex-direction: column; gap: 1em; padding-bottom: 0.5em; ">
        <div style="display: flex; gap: 1em;">
            <b>E-Mail</b>
            <a style="color: var(--orange);" href="mailto:nick@nick64.me">nick@nick64.me</a>
        </div>
        <div style="display: flex; gap: 1em;">
            <b>Twitter</b>
            <a style="color: var(--orange);" rel="me" href="https://twitter.com/Nick64WasTaken">@Nick64WasTaken</a>
        </div>
        <div style="display: flex; gap: 1em;">
            <b>Discord</b>
            <span>@realnick64</span>
        </div>
        <div style="display: flex; gap: 1em;">
            <b>Mastodon</b>
            <a style="color: var(--orange);" rel="me" href="https://wetdry.world/@nick64">@nick64@wetdry.world</a>
        </div>
        <div style="display: flex; gap: 1em;">
            <b>YouTube</b>
            <a style="color: var(--orange);" href="https://www.youtube.com/channel/UCLDFStxvzHG_xy5Vmsz7K3w">@Nick64WasTaken</a>
        </div>
    </div>

    <hr width="100%">

    <div style="display: flex; justify-content: left; align-items: center; padding-top: 0.5em; padding-bottom: 0.5em;">
        <img src="/images/icons/rss.png">
        <b style="margin-left: 0.5em; font-size: 1.2em;">RSS</b>
    </div>
    

    <p style="text-decoration: none; color: var(--orange);">WARNING: My RSS sucks and I'm still learning about it, so plz don't expect a lot</p>
    <p><a style="text-decoration: none; color: var(--orange);" href="https://nick64.me/index.xml">> Link to all posts</a></p>
    <p><a style="text-decoration: none; color: var(--orange);" href="https://nick64.me/netlogs/index.xml">> Link to only netlog posts</a></p>

    <hr width="100%">
    <div style="text-align: center;">
        <a style="text-decoration: none; color: var(--orange); font-size: 20px;">Check out my button! Feel free to copy the code below and use the button on your home page.</a>
        <p><a href="https://nick64.me"><img class="button" style="image-rendering: pixelated; width: 176px;"src="/images/button.gif"></a></p>
        <p><textarea><a href="https://nick64.me/" target="_blank"><img src="https://nick64.me/images/button.gif"></a></textarea></p>
    </div>    
</div>


{{ end }}

