<html>
   <style>
      body {
         background: url('/shrines/evangelion/images/WALL001.BMP');
      }
      p {
         color: greenyellow;
      }
      h2 {
         color: greenyellow;
      }
      tr {
         background-color: purple;
      }
      a {
         text-decoration: none;
         color: greenyellow;
      }
   </style>

   <body>
      
      <center>
         <table border="1" cellpadding="4" cellspacing="2">
            <tr>
               <th><img src="/shrines/evangelion/images/LOGO.GIF"></th>
            </tr>
            
         </table>

         <table border="1" cellpadding="4" cellspacing="2">
            <tr>
               <td><a href="https://nick64.me">Return to Nick64</a></th>
               <td><a href="/shrines/evangelion">Home</a></th>
               <td><a href="/shrines/evangelion/characters">Characters</a></th>
               <td><a>Images</a></th>
            </tr>
         </table>
         <br>

         <table border="1" cellpadding="4" cellspacing="2">
            <tr>
               <th><p>Welcome to my Evangelion shrine!!!</p></th>
            </tr>
            <tr>
               <td>
                  <h2 style="text-align: left;">What is Evangelion?</h2>
                  <p style="text-align: left;">Neon Genesis Evangelion is a show that released from 1995-1996, evolving into a huge franchise with movies, games, pachinko, figures, spinoffs, etc. It's become popular over the years for its depiction of mental health, its grotesque content, and religious imagery. Also waifu wars (Asuka is better than Rei).</p>
               </td>
            </tr>
            <tr>
               <td>
                  <h2 style="text-align: left;">Why do I love Evangelion?</h2>
                  <p style="text-align: left;">I think for me, the biggest aspect of Evangelion I love is the finale, End of Evangelion, it's a movie that just struck such a cord with me, I don't necessarily think it's a peak movie, but it hits me deep. I also am very invested in the lore of the production and merchandising, since the world of Evangelion merch is insane.</p>
               </td>

            </tr>
         </table>
         
         <!--<table border="1" cellpadding="4" cellspacing="2">
            <tr>
               <th>
                  <img style="width: 200px; height: auto;"src="images/asuka-drawing.jpg">
                  <p>Asuka is so cute :)</p>
               </th>
               <th><p>Asuka is so cute :)</p></th>
            </tr>
         </table>-->
         <br>
         <audio loop autoplay controls>
            <source src="audio/music.wav" type="audio/wav">
            Your browser does not support the audio element.
         </audio>
      </center>
   </body>
</html>