<td>
    <a href="/">
        <img src="/images/header-buttons/home.gif" onmouseover="this.src='/images/header-buttons/home-hover.gif';" onmouseout="this.src='/images/header-buttons/home.gif';">
    </a>
    <a href="/about-me">
        <img src="/images/header-buttons/about-me.gif" onmouseover="this.src='/images/header-buttons/about-me-hover.gif';" onmouseout="this.src='/images/header-buttons/about-me.gif';">
    </a>
    <a href="/netlogs">
        <img src="/images/header-buttons/netlogs.gif" onmouseover="this.src='/images/header-buttons/netlogs-hover.gif';" onmouseout="this.src='/images/header-buttons/netlogs.gif';">
    </a>
    <a href="/art">
        <img src="/images/header-buttons/art.gif" onmouseover="this.src='/images/header-buttons/art-hover.gif';" onmouseout="this.src='/images/header-buttons/art.gif';">
    </a>
    <a href="/info">
        <img src="/images/header-buttons/info.gif" onmouseover="this.src='/images/header-buttons/info-hover.gif';" onmouseout="this.src='/images/header-buttons/info.gif';">
    </a>
</td>


