{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ if .Site.Params.excerpts }}

{{- range $Pages }}
<article>
  <header>
    {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time>{{ end }}
  </header>
  {{ .Summary }}
  {{- if .Truncated }}
    <div class="more"><a href="{{ .RelPermalink }}">read more</a></div>
  {{- end }}
</article>
{{- end }}

{{ else }}



<table align="center" bgcolor="black" border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td>
          <img style="display: block" src="/images/box-corner-top-left.gif">
      </td>
      <td width="100%" bgcolor="black"></td>
      <td>
          <img style="display: block" src="/images/box-corner-top-right.gif">
      </td>
  </tr>
  <tr>
    <td colspan="3" height="15" width="100%" bgcolor="black"></td>
</tr>
  <tr bgcolor="black">
    <td width="15" bgcolor="black"></td>
    <td>
      <ul>
        {{- range $Pages }}
          <li style="text-align: left;" class="post-list">
            <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
            <p class="post-date">{{ .Params.date.Format .Site.Params.dateFormat }}</p>
          </li>
        {{- end }}
      </ul>
      <p>And that's the bottom...</p>
    </td>
    <td width="15" bgcolor="black"></td>
  </tr>
  <tr>
      <td>
          <img style="display: block" src="/images/box-corner-bottom-left.gif">
      </td>
      <td width="100%" bgcolor="black"></td>
      <td>
          <img style="display: block" src="/images/box-corner-bottom-right.gif">
      </td>
  </tr>
</table>


{{ end }}

