<p><b>NAME:</b> Nick</p>
<p><b>ALIAS:</b> Nick64</p>
<p><b>AGE:</b> 18</p>
<p><b>GENDER:</b> Male</p>

<p>I'm kind of an artsy guy, very much like flashy and stylish things, with flair and funk. I like drawing, writing, that kind of stuff. I would do cooler things like making comics or novels if I had the motivation to do that. But when I'm not wallowing in self-doubt, I usually like watching a lot of movies and shows (some reading too), and playing games sometimes as well.</p>

<p>Very much a weeaboo, it's a consequence of being a weeaboo throughout my middle and high school years because it was easy to get anime for me, so if you dont like having a lot of anime, then you might not like this site (although I am working to really broaden my horizons on the media I consume) :)</p>