<a href="https://realja.me"><img class="button" src="https://realja.me/realjame.gif" alt="realja.me" border="0"></a>
<a href="https://cabbagesorter.neocities.org/"><img class="button"  src="/images/buttons/cabbagesorter.gif" alt="cabbagesorter" border="0"></a>
<a href="https://twelvemen.neocities.org/index.html"><img class="button" src="/images/buttons/12men.gif" border="0"></a>
<a href="https://cloverbell.neocities.org/"><img class="button" src="/images/buttons/cloverbellbanner.gif" border="0"></a> 
<a href="https://zanarkand.neocities.org/"><img class="button" src="/images/buttons/yobun.gif" border="0"></a>
<a href="https://vaje.neocities.org/"><img class="button" src="/images/buttons/vajebutton.gif" border="0"></a>
<a href="https://ita.toys"><img class="button" src="/images/buttons/ita-button.gif" border="0"></a>
<a href="https://ophanimkei.com"><img class="button" src="/images/buttons/kie.gif" border="0"></a>
<!-- <a href="http://razorback95.com"><img class="button" src="/images/buttons/rz95_button.gif" border="0"></a> -->
<a href="https://prismatictigers.neocities.org/"><img class="button" src="/images/buttons/prismatic-realm.gif" border="0"></a>
<img class="button" src="/images/buttons/dreamcast.gif" border="0">
<a href="https://zencorner.xyz/"><img class="button" src="/images/buttons/zencorner-classic.gif" border="0"></a>
<a href="https://ashiecorner.xyz/"><img class="button" src="/images/buttons/ashiebutton.gif" border="0"></a>
<img class="button" src="/images/buttons/joe-biden.png" border="0">
<a href="https://corru.observer/"><img class="button" src="/images/buttons/8831.gif" border="0"></a>
<a href="https://mukkysworld.neocities.org/" target="_blank"><img src="https://mukkysworld.neocities.org/images/MukkysWorld_Button.gif"></a>