{{ define "main" }}

<div style="display: flex; justify-content: space-between;">
    <div class="box-container front-page-box feed">
        <b><h2 style="font-family: 'Neuropol'; font-size: 1em;">Latest Netlogs</h2></b>

        <script></script>
        <div class="latest-posts top">
            {{ range ( where .Site.RegularPages "Type" "netlogs" | first 4 ) }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{end}}
        </div>

        <b><h2 style="font-family: 'Neuropol'; font-size: 1em;">Latest Art</h2></b>

        <script></script>
        <div class="latest-posts">
            {{ range ( where .Site.RegularPages "Type" "art" | first 4 ) }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{end}}
        </div>

    </div>

    <div style="width: 1em;"></div>

    <div class="box-container front-page-box">
        {{ partial "random-box" . }}
    </div>
</div>
<br>

<div style="display: flex; justify-content: space-between;">
    <div class="box-container front-page-button">
        <div>
            <img style="width:1.5em; margin-right: 0.5em;" src="/images/ko-fi.png">
            <a href="https://ko-fi.com/nick64">Click to donate on Ko-fi!</a>    
        </div>
    </div>
    <div style="width: 1em;"></div>
    <div class="box-container front-page-button">
        <a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34452-75">Click to sign my guestbook!</a>
    </div>
    <div style="width: 1em;"></div>
    <div class="box-container front-page-button">
        <a href="https://nick64.me"><img class="button" src="/images/button.gif"></a>
        <textarea style="margin-left: 0.5em;"><a href="https://nick64.me"><img src="/images/button.gif"></a>"</textarea>
    </div>
    
</div>
<br>

<div class="box-container">
    <center>
        {{ partial "stickers" . }}
    </center>
</div>

{{ end }}