{{ define "main" }}

    <table bgcolor="black" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img style="display: block" src="/images/box-corner-top-left.gif">
            </td>
            <td width="100%" bgcolor="black"></td>
            <td>
                <img style="display: block" src="/images/box-corner-top-right.gif">
            </td>
        </tr>

        <tr>
            <td width="10" height="40"></td>
            <td>
                <img src="/images/about-me/about-me-header.png">
            </td> 
        </tr>

        <tr bgcolor="black">
            <td width="10"></td>
            <td>
                {{ partial "about-me" . }}
            </td>
            <td width="10"></td>
        </tr>
        <tr>
            <td colspan="4" height="10"></td>
        </tr>
        <tr>
            <td>
                <img style="display: block" src="/images/box-corner-bottom-left.gif">
            </td>
            <td width="100%" bgcolor="black"></td>
            <td>
                <img style="display: block" src="/images/box-corner-bottom-right.gif">
            </td>
        </tr>
    </table>
    

    <!--<div class="box-container">
        <h2 style="font-family: 'Neuropol'; font-size: 1em; flex-direction: row;"><u>Favorite Movies</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;">
            {{ partial "favorite-movies" . }}  
        </div>
        <br>
        <h2 style="font-family: 'Neuropol'; font-size: 1em;"><u>Favorite Shows</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;"> 
            {{ partial "favorite-shows" . }}  
        </div>
        <br>
        <h2 style="font-family: 'Neuropol'; font-size: 1em;"><u>Favorite Games (I don't play a lot of games)</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;"> 
            
            {{ partial "favorite-games" . }}  
        </div>
        <br>
    </div>-->

    
<!--
    <div class="box-container">
        <center>
            <h1 style="font-family: 'Neuropol'; font-size: 1.5em;"><u>Favorite Movies</u></h1>
        </center>

        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;">
            {{ $Pages := where .Site.RegularPages "Type" "reviews" }}
            {{- range $Pages }}
                {{ if and (in .Params.tags "favorites") (in .Params.tags "movies") }}
                    <div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
                        <div>
                            {{ $link := .Permalink }}
                            {{ with .Params.thumbnail }}
                                {{ $image := . }}
                                <a href="{{$link}}"><img class="thumbnail" src="{{$link}}{{$image}}"></a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>

        <br>

        <center>
            <h1 style="font-family: 'Neuropol'; font-size: 1.5em;"><u>Favorite Shows</u></h1>
        </center>

        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;">
            {{ $Pages := where .Site.RegularPages "Type" "reviews" }}
            {{- range $Pages }}
                {{ if and (in .Params.tags "favorites") (in .Params.tags "movies") }}
                    <div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
                        <div>
                            {{ $link := .Permalink }}
                            {{ with .Params.thumbnail }}
                                {{ $image := . }}
                                <a href="{{$link}}"><img class="thumbnail" src="{{$link}}{{$image}}"></a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>

    <br>

-->
   

{{ end }}


