<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Nick64</title>
        <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/feed.xml" title="{{ .Site.Title }}">
        {{ partial "meta" .}}
    </head>

    <body link="#f5ae08" vlink="#f5ae08">
        <table width="600px" align="center" cellspacing="0" cellpadding="0" border="1">
            <tbody>
                <tr bgcolor="#f5ae08">
                    <td width="12" bgcolor="#f5ae08">
                        <img width="12" height="12" border="0" style="display: block;" src="/images/top-left-corner.gif">
                    </td>
                    <td width="556"bgcolor="#f5ae08">
                        <img width="556" height="12" style="display: block;" src="/images/top-area.gif">
                    </td>
                    <td width="32" bgcolor="#f5ae08">
                        <img width="32" height="12" border="0" style="display: block;" src="/images/top-right-corner.gif">
                    </td>
                </tr>
            </tbody>
        </table>
        
 
        
        <table width="600px" align="center" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr bgcolor="#f5ae08">
                    <td>
                        <img width="6" height="31" style="display: block;" src="/images/black.gif">
                    </td>
                    <td width="6" bgcolor="#f5ae08"></td>
                    <td bgcolor="#f5ae08">
                        <img style="display: block;" src="/images/banner.gif">
                    </td>
                    <td bgcolor="#f5ae08">
                        <img style="display: block;" src="/images/right-edge-top.gif">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img width="6" height="20" style="display: block;" src="/images/black.gif">
                    </td>
                    <td width="6" bgcolor="#f5ae08"></td>
                    <td bgcolor="#f5ae08">
                        <img style="display: block;" src="/images/lines.gif">
                    </td>
                    <td>
                        <img width="26" height="20" style="display: block;" src="/images/black.gif">
                    </td>
                </tr>
            </tbody>
        </table>

        <table width="600px" align="center" cellspacing="0" cellpadding="0" border="0">
            <tbody bgcolor="#f5ae08">
                <tr>
                    <td>
                        <img width="6" height="5" style="display: block;" src="/images/black.gif">
                    </td>
                    <td colspan="3" height="5" width="568" bgcolor="#f5ae08"></td>
                    <td>
                        <img width="26" height="5" style="display: block;" src="/images/black.gif">
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <img width="6" height="28" style="display: block;" src="/images/black.gif">
                    </td>
                    <td width="6" bgcolor="#f5ae08"></td>
                    <td>{{ partial "header-links" . }}</td>
                    <td>
                        <img width="26" height="28" style="display: block;" src="/images/black.gif">
                    </td>
                </tr>  
            </tbody>
        </table>

        <table width="600px" align="center" cellspacing="0" cellpadding="0" border="0">
            <tbody bgcolor="#f5ae08">
                <tr>
                    <td>
                        <img width="6" height="6" style="display: block;" src="/images/black.gif">
                    </td>
                    <td width="6" bgcolor="#f5ae08"></td>
                    <td colspan="3" bgcolor="#f5ae08">
                        <img style="display: block;" src="/images/single-line.gif">
                    </td>
                    <td>
                        <img width="26" height="6" style="display: block;" src="/images/black.gif">
                    </td>
                    </tr> 
                <tr>
                    <td width="6" bgcolor="#000000"></td>
                    <td colspan="4" height="15"></td>
                    <td width="26" bgcolor="#000000"></td>
                </tr>
            </tbody>
        </table>

        

        <table width="600px" align="center" cellspacing="0" cellpadding="0" border="0">
            <tbody bgcolor="#f5ae08">
                <tr>
                    <td width="6" bgcolor="#000000"></td>
                    <td style="padding-right: 8px; padding-left: 8px">
                        <font face="Arial, sans-serif">
                            {{ block "main" . }}
            
                            {{ end }}
                        </font>
                    </td>
                    <td width="26" bgcolor="#000000"></td>
                </tr>
            </tbody>
        </table>

        <table width="600px" align="center" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr bgcolor="#f5ae08">
                    <td bgcolor="#f5ae08">
                        <img style="display: block;" src="/images/bottom-left-corner.gif">
                    </td>
                    <td bgcolor="#f5ae08">
                        <img width="538" height="31 "style="display: block;" src="/images/bottom-area.gif">
                    </td>
                    <td bgcolor="#f5ae08">
                        <img style="display: block;" src="/images/bottom-right-corner.gif">
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>