<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Nick64</title>
    </head>

    <body link="#f5ae08" vlink="#f5ae08">
        <table align="center" width="600px" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <th height="12">
                    <td colspan="2" width="12">
                        <img width="12" height="12" src="/images/top-left-corner.gif" >
                    </td>
                    <td width="556">
                        <img width="558" height="12" src="/images/top-area.gif">
                    </td>
                    <td colspan="2" width="32">
                        <img width="32" height="12" src="/images/top-right-corner.gif">
                    </td>
                </th>
            </tbody>
        </table>

        <table width="600px" align="center" cellspacing="0" cellpadding="0" border="0">
            </tbody>
                <tr height="31">
                    <td width="6">
                        <img width="6" height="31" src="/images/black.gif" border="0">
                    </td>
                    <td bgcolor="#f5ae08" width="6">
                        <img width="6" src="/images/pixel-trans.gif" border="0">
                    </td>
                    <td bgcolor="#f5ae08" width="558">
                        <img src="/images/banner.gif" border="0">
                    </td>
                    <td bgcolor="#f5ae08" width="6">
                        <img width="6" src="/images/pixel-trans.gif" border="0">
                    </td>
                    <td>
                        <img src="/images/right-edge-top.gif" border="0">
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>