{{ define "main" }}

<div style="color: #f5ae08;" class="box-container">
    {{ partial "thank-you" . }}
</div>

<br>

<div style="color: #f5ae08;">
    <table>
        <tr>
            <th style="height: 100%px; background-color: black;">
                <h2 style="color: #f5ae08; font-size: 1.4em;">RSS</h2>
                <div style="color: #f5ae08;" class="box-container">
                    
                    {{ partial "rss-links" . }}
                </div>
            </th>
            <th style="background-color: black; width: 33%">
                <h2 style="color: #f5ae08; font-size: 1.4em;">Credits</h2>
                <div style="color: #f5ae08;" class="box-container">
                    {{ partial "credits" . }}
                </div>
            </th>
            <th style=" background-color: black; height: 100%; width: 33%">
                <div style="color: #f5ae08;" class="box-container">
                    <h2 style="font-size: 1.4em;">Contacts</h2>
                    {{ partial "contacts" . }}
                </div>
            </th>
        </tr>
    </table>
</div>


<br>

{{ end }}