{{ define "main" }}

<table align="center" bgcolor="black" border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td>
          <img style="display: block" src="/images/box-corner-top-left.gif">
      </td>
      <td width="100%" bgcolor="black"></td>
      <td>
          <img style="display: block" src="/images/box-corner-top-right.gif">
      </td>
  </tr>
  <tr bgcolor="black">
    <td width="15" bgcolor="black"></td>
    <td>
      <div> 
        <b><u>Note: Because I say something in the past doesn't mean I think or feel the same way I do now please dont feel offended guys ;)</u></b>
        <br>
        <br>
        This page is a list of all my netlogs/posts/whatever-you-want-to-call-them. Pretty cool, huh?
      </div>
    </td>
    <td width="15" bgcolor="black"></td>
  </tr>
  <tr>
      <td>
          <img style="display: block" src="/images/box-corner-bottom-left.gif">
      </td>
      <td width="100%" bgcolor="black"></td>
      <td>
          <img style="display: block" src="/images/box-corner-bottom-right.gif">
      </td>
  </tr>
</table>
<br>

<!--<div style="display: flex; justify-content: center;" class="box-container">
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\updates">Site Updates</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\life">Life</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\Music">Music</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\movies-tv">Movies/TV</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\gaming">Gaming</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\tech">Tech</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\random">Random</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\rant">Rant</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\informative">Informative</a>
</div>-->
<br>

{{ partial "list" . }}

{{ end }}

