<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        {{ partial "meta" .}}
    </head>
    <body>
        <div class="clouds-container">
            <div class="header">
                    <a href="/" class="box-container">
                        <div style="display: flex; justify-content: left; align-items: center;">
                            <img style="width: 17px;" src="/images/icons/home.png">
                            <!-- <div style="margin-left: 8px">Home</div> -->
                        </div>
                    </a>

                    <a href="/netlogs" class="box-container">
                        <div style="display: flex; justify-content: left; align-items: center;">
                            <img style="width: 17px;" src="/images/icons/netlogs.png">
                            <!-- <div style="margin-left: 8px">Netlogs</div> -->
                        </div>
                    </a>
                    <a href="/art" class="box-container">
                        <div style="display: flex; justify-content: left; align-items: center;">
                            <img style="width: 17px;" src="/images/icons/art.png">
                            <!-- <div style="margin-left: 8px">Art</div> -->
                        </div>
                    </a>
            
                    <a href="/archive" class="box-container">
                        <div style="display: flex; justify-content: left; align-items: center;">
                            <img style="width: 17px;" src="/images/icons/archive.png">
                            <!-- <div style="margin-left: 8px">Archive</div> -->
                        </div>
                    </a>
                    <a href="/info" class="box-container">
                        <div style="display: flex; justify-content: left; align-items: center;">
                            <img style="width: 17px;" src="/images/icons/info.png">
                            <!-- <div style="margin-left: 8px">Info</div> -->
                        </div>
                    </a>
                    <a href="https://ko-fi.com/nick64" class="box-container">
                        <div style="display: flex; justify-content: left; align-items: center;">
                            <img style="width: 17px;" src="/images/icons/donate.png">
                            <!-- <div style="margin-left: 8px">Donate</div> -->
                        </div>
                    </a>
                </div>
            <div class="main-container">
                    {{ block "main" . }}
        
                    {{ end }}
            </div>
            
        </div>
    </body>

</html>