{{ define "main" }}

<div class="box-container" style="height: 668px;">
    <table border="1" cellpadding="10px" class="misc-links-table">
        <tr>
            <td><a href="/directory-of-cool-things-on-the-net"><b>Directory of Cool Things on the Net</b></a></td>
            <td>Links to a bunch of cool things that I like and might be useful.</td>
        </tr>
    </table>
    
    <center>
        <img style="margin-top: 20px; border: 0px; border-radius: 10px;"src="/images/under-construction.png">
        <h3>This section is still under construction!</h3>
    </center>
</div>

{{ end }}

