{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ if .Site.Params.excerpts }}

{{- range $Pages }}
<article>
  <header>
    {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time>{{ end }}
  </header>
  {{ .Summary }}
  {{- if .Truncated }}
    <div class="more"><a href="{{ .RelPermalink }}">read more</a></div>
  {{- end }}
</article>
{{- end }}

{{ else }}



<article class="box-container">
  <ul>
      {{- range $Pages }}
      <li class="post-list">
        <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
        <p class="list-text">{{ .Params.date.Format .Site.Params.dateFormat }}</p>
      </li>
      {{- end }}
  </ul>
  {{ .Content }}
  <p style="margin-left:2.5em">And that's the bottom...</p>
</article>
{{ end }}

