@font-face {
  font-family: "Neuropol";
  src: url('/fonts/neuropol.woff');
}

@font-face {
  font-family: "Prototype";
  src: url('/fonts/Prototype.ttf');
}

@font-face {
  font-family: "ShadowsIntoLight";
  src: url('/fonts/ShadowsIntoLight-Regular.ttf');
}

@font-face {
  font-family: "MS Gothic";
  src: url('/fonts/msgothic.ttc');
}



:root {
  --main-color: #f5ae08;
}

body {
  font-family: 'Prototype', 'Arial Narrow', Arial, sans-serif;
  background-color: #a67709;
  background-size: 16px;
  background-image: url(/images/background.png);
  image-rendering: pixelated;
}


/* -------------------PRIMARY ELEMENTS------------------- */

#header-links {
  overflow: hidden;
}

.box-container {
  border:0.25em solid black; 
  border-radius: 0.5em;
  background-color: black; 
  color: var(--main-color); 
  padding: 0.5em; 
}

#window-title {
  display: flex;
  align-items: center;
}

#border-container {
  image-rendering: auto;
  border-radius: 0.5em;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  border: 0.25em solid black;
  box-shadow: 0.8em 0.8em black;
}

#header-container {
  border-radius: 0.5em;
  background-color: #000000;
  padding: 0.3em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#window-container {
  padding: 0.5em;
}

.below-header-line {
  border-radius: 0.5em;
  background-color: black;
  margin-top: 0.25em;
}

.below-header-line.one {
  padding: 0.25em;
}

.below-header-line.two {
  padding: 0.15em;
  margin-bottom: 0.1em;
}

.below-header-line.three {
  padding: 0.1em;
}

.header-button {
  float: left;
  position: static;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 0.5em;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  transition-duration: 0.3s;
}

.header-button:hover {
  transition-duration: 0.3s;
  background-color: black;
  color: var(--main-color);
}

#profile-picture {
  padding-left: 0.6em;
  max-width: 1em;
  height: auto;
}

#window-header {
  font-family: "Neuropol";
  font-weight: bold;
  color: #f5ae08;
  font-size: 0.8em;
  padding-left: 0.5em;
}

#window-header-mobile {
  font-family: "Neuropol";
  font-weight: bold;
  color: #f5ae08;
  font-size: 0.8em;
  padding-left: 0.5em;
  display: none;
}

.square {
  border-radius: 0.4em;
  height: 1em;
  width: 1em;
  background-color: var(--main-color);
  float: right;
  margin-right: 0.4em;
}

#window {
  border-radius: 0.5em;
  padding: 0.4em;
  margin-top: 0.4em;
  background: var(--main-color);
}

#copyright {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8em;
  padding: 0em 2.5em;
  font-weight: bold;
}


/* -------------------FRONT PAGE ELEMENTS------------------- */
.box-container.front-page-box {
  width: 50%;
}

.box-container.front-page-box.feed {
  font-size: 1em;
}

.latest-posts li {
  list-style: none;
  margin-bottom: 0.8em;
}

.latest-posts.top {
  margin-bottom: 0em;
}


.latest-posts a {
  transition-duration: 0.3s;
  color: var(--main-color);
  text-decoration: none; 
  margin: 1em;
}

.latest-posts a:hover {
  color: #a67709;
  transition-duration: 0.3s;
  padding-left: 0.4em;
}

.box-container.front-page-button {
  width: 32%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 0.5em;
}

.box-container.front-page-button div {
  display: inline-block;
}

.box-container.front-page-button div img {
  vertical-align: middle;
}

.box-container.front-page-button a {
  font-family: 'Prototype'; 
  font-size: 1em; 
  text-decoration: none; 
  color: var(--main-color);
  vertical-align: middle;
}

.button {
  width: 88px;
  image-rendering: pixelated;
}

/* -------------------LIST ELEMENTS------------------- */

.tag-button {
  border:0.25em solid black; 
  border-radius: 0.5em;
  background-color: black; 
  color: var(--main-color); 
  padding: 0.5em;
  transition-duration: 0.3s;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.box-container.tag-button {
  transition-duration: 0.3s;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.box-container.tag-button:hover {
  color: #a67709;
  transition-duration: 0.3s;
}

.list-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}

.post-list {
  list-style-type: none;
  padding-bottom: 1em;
}

/* -------------------POST ELEMENTS------------------- */
.box-container.post-container {
  font-size: 1em;
}

.post-image {
  max-width: 30em;
  height: auto;
  border-radius: 0.5em;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

.title {
  transition-duration: 0.3s;
  font-size: 1.5em;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
}

.title:hover {
  color: #a67709;
  transition-duration: 0.3s;
  padding-left: 0.4em;
}

/* -------------------ABOUT ME ELEMENTS------------------- */

#bedroom-wrapper {
  width: 100%;
  max-width: 1812px;
  position: relative;
}

#test-anchor {
  border: 1px solid red;
  height: 26%;
  width: 13%;
  position: absolute;
  left: 36%;
  top: 32.75%;
}

.thumbnail {
  height: 10em;
  width: auto;
  z-index: 3;
}

.photograph {
  margin: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em;
  width: auto; 
  height: auto;
  transform: rotate(-6deg); 
  color: black; 
  background-color: rgb(229, 234, 244, 0);
}

.about-me {
  margin: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em;
  width: auto; 
  height: auto;
  transform: rotate(2deg); 
  background-image: url(/images/paper.png);
  font-family: "ShadowsIntoLight";
}

.about-me p {
  color: black;
}


/* ####################### MOBILE ####################### */
@media (max-aspect-ratio: 3/4) {
  /* -------------------POST ELEMENTS------------------- */
  .box-container.post-container {
    font-size: 1.2em;
  }

  .post-image {
    max-width: 100%
  }

  /* -------------------LIST ELEMENTS------------------- */
  .list-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.6em;
  }
  
  .title {
    transition-duration: 0.3s;
    font-size: 0.8em;
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
  }

  .box-container.list-note {
    font-size: 1.2em;
  }

  .post-list {
    font-size: 1.8em;
  }

  .tag-button {
    font-size: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  /* -------------------FRONT PAGE ELEMENTS------------------- */

  #window div {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  
  .box-container .button {
    width: 176px;
    margin-bottom: 1em;
  }

  .box-container.front-page-box {
    width: 92%;
    font-size: 1em;
  }

  .box-container.front-page-box.feed {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .box-container.front-page-button {
    width: 92%;
    margin-bottom: 1em;
    font-size: 1em;
  }

  .box-container.front-page-button.button{
    width: 2em;
    vertical-align: middle;
  }

  .box-container.front-page-button textarea{
    display: none;
  }
  
  .box-container.front-page-button a {
    font-size: 1.3em; 
  }


  .latest-posts.top {
    margin-bottom: 3em;
  }

/* -------------------PRIMARY ELEMENTS------------------- */
  #window {
    border-radius: 0.5em;
    padding: 0em;
    margin-top: 0.4em;
    background: var(--main-color);
  }

  .square {
    height: 0.6em;
    width: 0.6em;
    border-radius: 0.25em;
  }

  #window-header {
    display: none;
  }
  
  #window-header-mobile {
    display: inline;
    font-size: 0.6em;
  }

  #profile-picture {
    max-width: 0.8em;
  }

  .header-button {
    font-size: 0.5em;
    float: center;
    position: static;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.5em;
    font-weight: bold;
    text-decoration: none;
  }

  .box-container {
    border-radius: 1em;
  }

  body {
    background-size: 2%;
    image-rendering: pixelated;
  }

  #header-links {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
  }

  #border-container {
    border-radius: 1em;
    border: 0.5em solid black;
    box-shadow: 1em 1em black;
  }

  #header-container {
    border-radius: 0.7em;
    font-size: 2em;
  }

  .below-header-line {
    border-radius: 0.8em;
    background-color: black;
    margin-top: 0.5em;
  }
  
  .below-header-line.one {
    padding: 0.4em;
  }
  
  .below-header-line.two {
    padding: 0.25em;
    margin-bottom: 0.1em;
  }
  
  .below-header-line.three {
    padding: 0.25em;
  }
}