{{ define "main" }}
<a href="https://twitter.com/Nick64WasTaken"><img id="front-page-image" src="/images/twitter-plug.png"></a>

<div class="box-container" style="margin-top: 1em;">
    <div id="latest-posts-container">
        <div>
            <h2 class="latest-posts-header">Latest Netlog</h2>
            <script></script>
            <div>
                {{ range ( where .Site.RegularPages "Type" "netlogs" | first 1 ) }}
                    <a href="{{ .Permalink }}">{{ .Title | truncate 45 | safeHTML }}</a>
                {{end}}
            </div>
        </div>
        <div style="width: 50%;">
            <h2 class="latest-posts-header">Latest Art</h2>
            <script></script>
            <div>
                {{ range ( where .Site.RegularPages "Type" "art" | first 1 ) }}
                    <a href="{{ .Permalink }}">{{ .Title | truncate 45 | safeHTML }}</a>
                {{end}}
            </div>
        </div>
    </div>
</div>

<div class="box-container" style="margin-top: 1em; text-align: center; overflow: hidden;">
    {{ partial "stickers" . }}
</div>
{{ end }}