{{ define "main" }}

    <div class="box-container">
        <h2 style="font-family: 'Neuropol'; font-size: 1em;"><u>About Me</u></h2>
        {{ partial "about-me" . }}
    </div>

    <br>
    

    <div class="box-container">
        <h2 style="font-family: 'Neuropol'; font-size: 1em; flex-direction: row;"><u>Favorite Movies</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;">
            {{ partial "favorite-movies" . }}  
        </div>
        <br>
        <h2 style="font-family: 'Neuropol'; font-size: 1em;"><u>Favorite Shows</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;"> 
            {{ partial "favorite-shows" . }}  
        </div>
        <br>
        <h2 style="font-family: 'Neuropol'; font-size: 1em;"><u>Favorite Games (I don't play a lot of games)</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;"> 
            
            {{ partial "favorite-games" . }}  
        </div>
        <br>
    </div>

    
<!--
    <div class="box-container">
        <center>
            <h1 style="font-family: 'Neuropol'; font-size: 1.5em;"><u>Favorite Movies</u></h1>
        </center>

        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;">
            {{ $Pages := where .Site.RegularPages "Type" "reviews" }}
            {{- range $Pages }}
                {{ if and (in .Params.tags "favorites") (in .Params.tags "movies") }}
                    <div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
                        <div>
                            {{ $link := .Permalink }}
                            {{ with .Params.thumbnail }}
                                {{ $image := . }}
                                <a href="{{$link}}"><img class="thumbnail" src="{{$link}}{{$image}}"></a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>

        <br>

        <center>
            <h1 style="font-family: 'Neuropol'; font-size: 1.5em;"><u>Favorite Shows</u></h1>
        </center>

        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;">
            {{ $Pages := where .Site.RegularPages "Type" "reviews" }}
            {{- range $Pages }}
                {{ if and (in .Params.tags "favorites") (in .Params.tags "movies") }}
                    <div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
                        <div>
                            {{ $link := .Permalink }}
                            {{ with .Params.thumbnail }}
                                {{ $image := . }}
                                <a href="{{$link}}"><img class="thumbnail" src="{{$link}}{{$image}}"></a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>

    <br>

-->
   

{{ end }}


