{{ define "main" }}
    <div id="bedroom-wrapper">
        <img style="max-width: 100%" src="/images/test.png">
        <a id="test-anchor" href="/" target="_blank"></a>
    </div>
    
    <br>
    <br>
    <div class="box-container">
        <h2>About Me</h2>
        <p>
            I'm kind of an artsy guy, very much like flashy and stylish things, with flair and funk. I like drawing, writing, that kind of stuff. I would do cooler things like making comics or novels if I had the motivation to do that. But when I'm not wallowing in self-doubt, I usually like watching a lot of movies and shows (some reading too), and playing games sometimes as well.
        </p>
        <p>
            Very much a weeaboo, it's a consequence of being a weeaboo throughout my middle and high school years because it was easy to get anime for me, so if you dont like having a lot of anime, then you might not like this site (although I am working to really broaden my horizons on the media I consume) :)
        </p>
    </div>
    <br>
    <div class="box-container">
        <h2>Tech I Own</h2>
        <p>
            I'm kind of an artsy guy, very much like flashy and stylish things, with flair and funk. I like drawing, writing, that kind of stuff. I would do cooler things like making comics or novels if I had the motivation to do that. But when I'm not wallowing in self-doubt, I usually like watching a lot of movies and shows (some reading too), and playing games sometimes as well.
        </p>
        <p>
            Very much a weeaboo, it's a consequence of being a weeaboo throughout my middle and high school years because it was easy to get anime for me, so if you dont like having a lot of anime, then you might not like this site (although I am working to really broaden my horizons on the media I consume) :)
        </p>
    </div>

    <div>
        <img style="width: 100%" src="/images/do-it-for-them.png">
    </div>
    
    <!--<div style="border: 1px solid #dfdfdf; width: 45em;">
        <div style="border: 1px solid #ffffff">
            <div style="border: 2px solid #c3c3c3;">
                <div style="display: flex; justify-content: space-between; align-items: center; background: linear-gradient(90deg, rgba(0,0,128,1) 0%, rgba(16,132,208,1) 100%); height: 1.2em;">
                    <p style="padding-left: 2px; font-size: 0.8em; font-family: MS Gothic;">Favorite Movies</p>
                    <img style="image-rendering: pixelated; height: 14px; padding-right: 2px;" src="/images/buttons-window.png">
                </div>
                <div style="background-color: #c3c3c3; height: 2px;"></div>
                <div style="border: 1px solid #808080;">
                    <div style="border: 1px solid #000000; background-color: #ffffff;">
                        <div style="display: flex; justify-content: space-between; margin: 1em;">
                            {{ partial "favorite-movies" . }}  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="border: 1px solid #dfdfdf; width: 45em; margin-left: auto;">
        <div style="border: 1px solid #ffffff">
            <div style="border: 2px solid #c3c3c3;">
                <div style="display: flex; justify-content: space-between; align-items: center; background: linear-gradient(90deg, rgba(0,0,128,1) 0%, rgba(16,132,208,1) 100%); height: 1.2em;">
                    <p style="padding-left: 2px; font-size: 0.8em; font-family: MS Gothic;">Favorite Shows</p>
                    <img style="image-rendering: pixelated; height: 14px; padding-right: 2px;" src="/images/buttons-window.png">
                </div>
                <div style="background-color: #c3c3c3; height: 2px;"></div>
                <div style="border: 1px solid #808080;">
                    <div style="border: 1px solid #000000; background-color: #ffffff;">
                        <div style="display: flex; justify-content: space-between; margin: 1em;">
                            {{ partial "favorite-shows" . }}  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="border: 1px solid #dfdfdf; width: 45em;">
        <div style="border: 1px solid #ffffff">
            <div style="border: 2px solid #c3c3c3;">
                <div style="display: flex; justify-content: space-between; align-items: center; background: linear-gradient(90deg, rgba(0,0,128,1) 0%, rgba(16,132,208,1) 100%); height: 1.2em;">
                    <p style="padding-left: 2px; font-size: 0.8em; font-family: MS Gothic;">Favorite Games</p>
                    <img style="image-rendering: pixelated; height: 14px; padding-right: 2px;" src="/images/buttons-window.png">
                </div>
                <div style="background-color: #c3c3c3; height: 2px;"></div>
                <div style="border: 1px solid #808080;">
                    <div style="border: 1px solid #000000; background-color: #ffffff;">
                        <div style="display: flex; justify-content: space-between; margin: 1em;">
                            {{ partial "favorite-games" . }}  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <img style="display: block; width: 15%; margin-left: auto;" src="/images/smegma.png">

    <div class="box-container">
        <h2 style="font-family: 'Neuropol'; font-size: 1em; flex-direction: row;"><u>Favorite Movies</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;">
            {{ partial "favorite-movies" . }}  
        </div>
        <br>
        <h2 style="font-family: 'Neuropol'; font-size: 1em;"><u>Favorite Shows</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;"> 
            {{ partial "favorite-shows" . }}  
        </div>
        <br>
        <h2 style="font-family: 'Neuropol'; font-size: 1em;"><u>Favorite Games (I don't play a lot of games)</u></h2>
        <br>
        <div style="display: flex; justify-content: space-between; margin-left: 1em; margin-right: 1em;"> 
            
            {{ partial "favorite-games" . }}  
        </div>
        <br>
    </div>-->
{{ end }}


