<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        {{ partial "meta" .}}
    </head>

    <body>
        <div id="border-container"> 
            <div id="window-container">
                <!-- Here's where the header begins!-->
                <div id="header-container">
                    <span id="window-title">
                        <img id="profile-picture" src="/images/profile.png"/>
                        <span id="window-header">{{ block "title" . }} {{ .Page.Title }} {{ end }} - {{ block "title1" . }} {{ .Site.Title }} {{ end }}</span>
                        <span id="window-header-mobile">{{ .Site.Title }}</span>
                    </span>

                    <span>
                        <div class="square"></div>  
                        <div class="square"></div>  
                        <div class="square"></div>  
                    </span>
                </div>

                <div class="below-header-line one"></div>
                <div class="below-header-line two"></div>
                
                <div id="header-links">
                    {{ partial "header-links" .}}
                </div>
                
                <!-- Here's where the header ends!-->
                <div class="below-header-line three"></div>

                <div id="window">
                    {{ block "main" . }}
        
                    {{ end }}
                </div> 
            </div>
        </div>
    </body>

</html>