<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Nick64</title>

        {{ partial "head" . }}
        {{ partial "meta" .}}
    </head>

    <body>
        <div id="border-container"> 
            <div id="window-container">
                <!-- Here's where the header begins!-->
                <div id="header-container">
                    <span id="window-title">
                        <img id="profile-picture" src="/images/gatoPfp.png"/>
                        <span id="window-header">{{ block "title" . }} {{ .Page.Title }} {{ end }} - {{ block "title1" . }} {{ .Site.Title }} {{ end }}</span>
                    </span>

                    <span>
                        <div class="square"></div>  
                        <div class="square"></div>  
                        <div class="square"></div>  
                    </span>
                </div>

                <div style="padding: 0.3vh;" class="below-header-line"></div>
                <div style="margin-bottom: 0.25vh;" class="below-header-line"></div>
                
                <div style="overflow:hidden">
                    {{ partial "header-links" .}}
                </div>
                
                <!-- Here's where the header ends!-->
                <div class="below-header-line"></div>

                <div id="window">
                    {{ block "main" . }}
        
                    {{ end }}
                </div> 
            </div>
        </div>
    </body>

</html>