{{ define "main" }}
    <style>
        table {
            color: white;
            border-radius: 0.5em;
            border-color: #f5ae08;
            border-width: 8px;
            width: 100%;
        }

        td {
            padding: 0.2em;
            color: #a67709;
        }

        .website-link {
            color: #f5ae08;
            text-decoration: underline;
            
        }

        h2 {
            font-family: "Neuropol";
        }
    </style>
    <div class="box-container" >
        <u><h2>Interesting Websites</h2></u>
        <table >
            <tr>
                <td><a class="website-link" href="https://realja.me/">realjame</a></td>
                <td>A website made by my friend Jame, who makes blog posts occasionally and does ROBLOX dev stuff as well.</td>
            </tr>
            <tr>
                <td><a class="website-link" href="http://razorback95.com/">Razorback</a></td>
                <td>A website that I found extremely useful for trying to create HTML 1.x compatible pagess. They also have other projects and stuff as well, and is a great site to use for testing old browsers.</td>
            </tr>
            <tr>
                <td><a class="website-link" href="http://the39dollarexperiment.com/">The 39 Dollar Experiment</a></td>
                <td>A website made by someone who tried to ask companies for free stuff by sending them letters and seeing if he gets anything back. He documents his findings here.</td>
            </tr>
            <tr>
                <td><a class="website-link" href="http://cnspace.net/cge/news.html">chaotic n-space network</a></td>
                <td>A website from the late 90s discussing emulation of consoles such as the NES, SNES, Atari 2600, Commodore 64, etc.</td>
            </tr>

        </table>
    </div>
{{ end }}

