{{ define "main" }}

<div class="box-container list-note">
    {{ partial "thank-you" . }}
</div>

<br>

<div style="display: flex; justify-content: space-between;">
    <div style="width: 100%; margin-right:1em;" class="box-container">
        <h2 style="font-family: 'Neuropol'; font-size: 1em;">RSS</h2>
        {{ partial "rss-links" . }}
    </div>

    <div style="width: 100%; margin-right:1em;" class="box-container">
        <h2 style="font-family: 'Neuropol'; font-size: 1em;">Credits</h2>
   

    <div style="width: 100%;" class="box-container">
        <h2 style="font-family: 'Neuropol'; font-size: 1em;">Contacts</h2>

    </div>
</div>


<br>

{{ end }}