{{ define "main" }}

<div class="box-container"> 
  <b><u>Note: Because I say something in the past doesn't mean I think or feel the same way I do now please dont feel offended guys ;)</u></b>
  <br>
  <br>
  <b><u>Note 2: Website got a major revamp in aesthetic, so some posts (mainly the ones with images) are not gonna look great. I'm going to edit all the posts to fix this soon.</u></b>
  <br>
  <br>
  This page is a list of all my netlogs/posts/whatever-you-want-to-call-them. Pretty cool, huh?
</div>
<br>

<div style="display: flex; justify-content: center;">
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\news">News</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\random">Random</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\rant">Rant</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\informative">Informative</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\Tech">Tech</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\gaming">Gaming</a>
  <a class="tag-button" href="{{ .Site.Params.baseURL }}\tags\anime">Anime</a>
</div>
<br>

{{ partial "list" . }}

{{ end }}

