{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ if .Site.Params.excerpts }}

{{- range $Pages }}
<article>
  <header>
    {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time>{{ end }}
  </header>
  {{ .Summary }}
  <!-- {{- if .Truncated }}
    <div class="more"><a href="{{ .RelPermalink }}">read more</a></div>
  {{- end }} -->
</article>
{{- end }}

{{ else }}



<article>
  <ul>
      {{- range $Pages }}
      <li style="list-style: none;">
        <table border="0">
          <tr>
            <td>
              <a href="{{ .Permalink }}"><h3 style="margin: 0;">{{ .Title }}</h3></a>
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin: 0;">{{ .Params.date.Format .Site.Params.dateFormat }}</p>
            </td>
          </tr>
          <tr>
            <table border="0">
              <tr>
                {{ range $tag := .Params.tags }}
                {{ if eq $tag "updates" }}
                  <td><img src="/images/icons/website.gif"></td>
                {{ end }}
                {{ if eq $tag "movies-tv" }}
                  <td><img src="/images/icons/movies.gif"></td>
                {{ end }}
                {{ if eq $tag "gaming" }}
                  <td><img src="/images/icons/games.gif"></td>
                {{ end }}
                {{ if eq $tag "tech" }}
                  <td><img src="/images/icons/tech.gif"></td>
                {{ end }}
                {{ if eq $tag "random" }}
                  <td><img src="/images/icons/random.gif"></td>
                {{ end }}
                {{ if eq $tag "videos" }}
                  <td><img src="/images/icons/play.gif"></td>
                {{ end }}
                {{ if eq $tag "rant" }}
                  <td><img src="/images/icons/rant.gif"></td>
                {{ end }}
                {{ if eq $tag "music" }}
                  <td> <img src="/images/icons/music.gif"></td>
                {{ end }}
              {{ end }}
              </tr>
            </table>
          </tr>
        </table> 
      </li>
      {{- end }}
  </ul>
  {{ .Content }}
  <br>
  <p>And that's the bottom...</p>
</article>
{{ end }}